p {
        color: red;
    }

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}	
	
strong {
	font-size: 24px;

}

h1 {
	padding: 100px;
	margin: 200px;
	border-style: dashed;
	border-width: 5px;
	text-align: center;
}

body {
	background-color:  #00ffff;
	margin-left: 5%;
	margin-right: 5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: purple;
  color: yellow;
}
