body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	background-color: #00ffff;
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	
}

p {
    line-height: 21px;

}


.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}	
	
strong {
	font-size: 14pt;
	
}

h1 {
	padding: 100px;
	font-size: 48 pt;
	size: 100px;
	margin: 100px;
	border-style: groove;
	border-color: pink;
	border-width: 10px;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	
}

h2 {
    color: pink;
    background-color: #0066ff;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
	text-align: center;
	
}



nav ul li {
	float: relative;
	font-family: 'Slabo 27px', arial;
	
}

nav ul li a:hover {
	background-color: purple;
	color: yellow;
	
}

nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  background-color: #ff99cc;
  
}

nav ul li {
  float: left;
  
}

nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  background-color: #ff99cc;
  
}
